<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DEVINNOTECH</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="/static/css/noUiSlider.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="shortcut icon" href="/static/img/logo.jpg" type="image/x-icon">
    <link rel="icon" href="/static/img/logo.jpg" type="image/x-icon">

</head>
<body class="presentation slides defaultScroll zen animated">
<div class="loader">
    <div class="triple-spinner"></div>
</div>

{% include "website/includes/sidebar.html" %}

<nav class="panel top forceMobileView">
    <div class="sections desktop">
        <div class="left">
            <div class="slide-logo">
                <a href="#home-menu" title="">
                    <img alt="" src="/static/img/logo.png"/>
                </a>

            </div>
        </div>
        <div class="right">
            <div class="contact-top">
                <a href="tel:8 925 323 10 08" class="phone">8 958 401 85 64</a>
                <!--a href="tel:8 925 323 10 08" class="viber">@Devinnotech</a-->


            </div>
        </div>
    </div>

    <div class="sections compact hidden">
        <div class="left">
            <div class="slide-logo">
                <a href="#home-menu" title="">
                    <img alt="" src="/static/img/logo.png"/>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="contact-top">
                <a href="tel:8 925 323 10 08" class="phone">8 958 401 85 64</a>
                <!--a href="tel:8 925 323 10 08" class="viber">@Devinnotech</a-->

                <a class="application sidebarTrigger" data-sidebar-id="form-template1">Оставить заявку</a>
                <span class="button actionButton sidebarTrigger" data-sidebar-id="1"></span>
            </div>
        </div>
    </div>
</nav>


{% block content %}

{% endblock %}


{% include 'website/includes/sidebar-portfolio.html' %}




{% include 'website/includes/forms/form-template1.html' %}
{% include 'website/includes/forms/form-template2.html' %}
{% include 'website/includes/forms/form-template3.html' %}
{% include 'website/includes/forms/form-template4.html' %}
{% include 'website/includes/forms/form-template5.html' %}
{% include 'website/includes/forms/form-template6.html' %}
{% include 'website/includes/forms/form-template7.html' %}
{% include 'website/includes/forms/form-template8.html' %}
{% include 'website/includes/forms/form-template9.html' %}

<div class="popup" data-popup-id="message">
    <div class="popup-content message clear popupstyle">
        <div class="col-md-8">
            Ваша заявка принята!<br>
            Наш менеджер свяжется с Вами.
        </div>
        <div class="col-md-4">
            <button class="btn">Ok!</button>
        </div>
    </div>
</div>



<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-migrate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/noUiSlider.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/messages_ru.min.js"></script>
<script src="/static/js/scripts.min.js"></script>
<script src="/static/js/page-script.js"></script>


</body>
</html>