<div class="sidebar sidebar-content" data-sidebar-id="form-template1">
    <div class="container">
        <div class="popup-content">
            <div class="close">
                <img src="/static/img/close-white.svg" alt="">
            </div>
            <p class="popup-title">
                Оставить заявку
            </p>
            <form  method="post" class="form" action="/order/">
                {% csrf_token %}
                <div class="form-content clear">
                    <div class="col-md-12">
                        <p class="form-title col-md-12">
                            Вы в одном шаге до старта вашего проекта!
                        </p>
                    </div>
                    {% for field in form %}
                        <div class="col-md-12">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="col-md-12">
                        <button class="btn btn-submit form-btn g-recaptcha" type="submit" data-sitekey="your_site_key"
                                data-callback='onSubmit'>
                            Отправить
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>