<div class="sidebar sidebar-content" data-sidebar-id="form-template6">
    <div class="container">
        <div class="popup-content">
            <div class="close">
                <img src="/static/img/close-white.svg" alt="">
            </div>
            <p class="popup-title">
                Вы хотите запустить?
            </p>
            <form  method="post" class="form"  action="/order/">
                 {% csrf_token %}
                <div class="form-content clear">
                    <div class="col-md-12">
                        <p class="form-text">Давайте, обсудим все функции вашего стартама, уточним все важные для работы вопросы и тогда мы
                            будем готовы предоставить вам полную смету, по работам на вашим проектом. Укажите ваши
                            контактны
                            и менеджер свяжется с вами уже сегодня!</p>
                    </div>

                     {% for field in form %}
                      {% if field.name == 'site_type' %}
                            <select class="form-input" name="{{field.name}}">
                                {% for key,val in field.field.choices %}
                                    <option value="{{ key }}" {% if key == 'startup' %}
                                            selected {% endif %}>{{ val }}</option>
                                {% endfor %}
                            </select>

                        {% else %}
                            <div class="col-md-12">
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col-md-12">
                        <button class="btn btn-submit form-btn g-recaptcha" type="submit"  data-sitekey="your_site_key" data-callback='onSubmit'>Отправить</button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>