<nav class="sidebar deepPurple" data-sidebar-id="1">
    <div class="close">
        <img src="/static/img/close-black.svg" alt="">
    </div>
    <div class="content">
        <ul class="mainMenu uppercase cropBottom">
            <li><a href="#home-menu">Главная</a></li>
            <li><a href="#service-menu">Услуги</a></li>
            <li><a href="#technologies-menu">Технологии</a></li>
            <li><a href="#Solve-menu">Наши Решения</a></li>
            <li><a href="#portfolio-menu">Портфолио</a></li>
            <li><a href="#stage-menu">Этапы разработки</a></li>
            <li><a href="#application-menu">Обратная связь</a></li>
        </ul>
        <a style="display: none;margin: 10px 0 30px;" class="button uppercase round white center" href="#application">application</a>
    </div>
</nav>