<section class="slide fade kenBurns slide-7  active" id="application-menu" data-title="Обратная связь">
    <div class="content">
        <div class="container">
            <div class="wrap-box">
                <div class="left-contact  ae-1 fromLeft">
                    <form class="contact-form" method="post" action="/contact/">
                        {% csrf_token %}
                        <h2>Свяжись с нами</h2>

                        <p>Напиши нам, и мы, возможно,<br/> ответим на самый сложный вопрос.</p>

                        {% for field in contactForm %}
                            <div class="str">
                                <label for="{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div class="str">
                            <input type="submit" class="g-recaptcha" value="Оставить заявку"
                                   data-sitekey="your_site_key" data-callback='onSubmit'>
                        </div>

                    </form>

                </div>
                <div class="right-contact  ae-1 fromRight">
                    <h1>Также можете связаться с нами</h1>
                    <ul class="list-of-feed">
                        <li class="e-mail">hello@devinnotech.com</li>
                        <li class="phone">8 958 401 85 64</li>
                    </ul>

                </div>
            </div>
            <div class="bottom-slide-7 ae-2 fromBottom">

                <p class="copy">© 2019-<span id="copyright"></span>.Девиннотек ИНН 07745687<br/><span>Все права защищены.</span>
                </p>
                <div class="gerb-7">
                    <img src="/static/img/main/slide-1/logo.png" alt=""/>
                </div>
                <script>document.getElementById('copyright').innerText = new Date().getFullYear()</script>
            </div>
            <div class="bg-7-2 ae-4 fromLeft"></div>
        </div>
    </div>
    <div class="background background-7"></div>
</section>